// Variables
$base-padding: 1rem !default;
$base-margin: 0.5rem !default;
$primary-color: #0033a0 !default;
$gold-star: #FFD700 !default;
$gray-star: #CCCCCC !default;
$text-dark: #333333 !default;
$text-medium: #555555 !default;
$text-light: #777777 !default;
$transition-speed: 0.5s !default;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');